{% extends "two-column.html" %}

{% load i18n account renderers %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block left-column %}

<h1>{% trans "Password Reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="c-form">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% render_field form.email %}

  <button class="button button--primary" type="submit">{% trans 'Reset My Password' %}</button>

</form>

{% endblock %}
