{% load renderers %}
<div class="c-form-field c-form-field--charfield">

  <label class="c-form-field__label" for="{{ field.id_for_label }}">{{ field.label }}</label>

  {% render_widget field %}

  {% if field.help_text %}
    <div class="c-form-field__help">
      {{ field.help_text }}
    </div>
  {% endif %}

  {% if field.errors %}
    <ul class="l-list">
    {% for error in field.errors %}
      <li class="l-list__item">
        <div class="c-form-field__error">{{ error|escape }}</div>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
